<section class="transaction-day">
  <div class="transaction-day__content">
    <h1 class="transaction-day__date">{{ this.date }}</h1>
    <h2 class="transaction-day__average-spend">Average Spend: &#163;{{ this.avgSpent }}</h2>
    <h2 class="transaction-day__average-received">Average Received: &#163;{{ this.avgReceived }}</h2>
  </div>

  {{#each this.transactions }}
    {{> transaction-item/transaction-item itemData=this}}
  {{/each}}
</section>
