<header class="site-header">
  <div class="site-header__section site-header__section--top">
    <div class="wrapper">
      <h1 class="site-header__main-heading">eSpendor</h1>
    </div>
  </div>
  {{#if data}}
    <div class="site-header__section site-header__section--bottom">
      <div class="wrapper">
        <div class="grid">
          <div class="col col--1/2--md">
            <h1 class="site-header__heading">
              Capital:
              <span>&#163;{{ data.capital }}</span>
            </h1>
            {{#ifCondition data.capital '<' 0 }}
              <div class="col col--1/3--md">
              </div>
            {{/ifCondition}}
          </div>
          <div class="col col--1/2--md">
            <h3 class="site-header__sub-heading">
              Avg Daily Spend:
              <span>&#163;{{ data.averageDailySpend }}<span>
            </h3>
            <h3 class="site-header__sub-heading">
              Total Spent:
              <span>&#163;{{ data.totalSpent }}</span>
            </h3>
            <h3 class="site-header__sub-heading">
              Total received:
              <span>&#163;{{ data.totalReceived }}</span>
            </h3>
          <h3 class="site-header__sub-heading">
          </h3>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</header>

<nav class="wrapper">
  <nav class="main-buttons">
    <button type="button" class="btn--secondary" data-need-more-money>I require investment capital</button>
    <button type="button" class="btn--secondary" data-burn-money>Invest in assets</button>
  </nav>
</nav>
