//Site header styles

.site-header__section {
  text-align: center;
  color: $c-white;
  padding: $d-gutter--half $d-gutter;
}

.site-header__section--top {
  background: #FF851B;
  text-transform: uppercase;
}

.site-header__section--bottom {
  background: lighten(#FF851B, 10%);
}

.site-header__main-heading {
  font-weight: normal;
  color: $c-white;
  text-transform: none;
}

.site-header__heading {
  font-weight: normal;
  color: $c-white;
  margin-bottom: $d-gutter--half;

  @include respond-to-min($bp-med) {
    text-align: left;
  }
}

.site-header__sub-heading {
  font-weight: normal;
  color: $c-white;
  opacity: .5;

  @include respond-to-min($bp-med) {
    text-align: right;
  }
}

.main-buttons {
  padding: $d-gutter 0;
  border-bottom: 1px solid $c-brand-1;

  button {
    margin-bottom: $d-gutter--half;

    @include respond-to-min($bp-med) {
      margin-bottom: 0;
    }
  }
}
