<header class="site-header">
  <div class="site-header__section site-header__section--top">
    <div class="wrapper">
      <h1 class="site-header__main-heading">It's just an app</h1>
    </div>
  </div>
  <div class="site-header__section site-header__section--bottom">
    <div class="wrapper">
      <div class="grid">
        <div class="col col--1/2--md">
          <h1 class="site-header__heading">
            Total Spent:
            <span>&#163;{{ data.totalSpent }}</span>
          </h1>
        </div>
        <div class="col col--1/2--md">
          <h3 class="site-header__sub-heading">
            Avg Daily Spend:
            <span>&#163;{{ data.averageDailySpend }}<span>
          </h3>
          <h3 class="site-header__sub-heading">
            Total received:
            <span>&#163;{{ data.totalReceived }}</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>
