//Button styling

@mixin btn($type: 'primary') {

  @if($type == 'primary') {
    @include _btn-primary();
  } @else if ($type == 'secondary') {
    @include _btn-secondary();
  }

  transition: background .2s ease-in-out;
  padding: $d-gutter $d-gutter--double;
  border-radius: 30px;
  outline: 0;
  border: 0;
  font-size: 16px;
}

@mixin _btn-primary() {
  background: $c-brand-2;
  color: $c-white;

  &:hover {
    background: darken($c-brand-2, 10%);
  }
}

@mixin _btn-secondary() {
  background: $c-brand-1;
  color: $c-black;

  &:hover {
    background: darken($c-brand-1, 10%);
  }
}

.btn--primary {
  @include btn($type: 'primary');
}

.btn--secondary {
  @include btn($type: 'secondary');
}

.btn--moving {
  position: absolute;
}
