//Layout - styles for all layout and or grid system

.wrapper {
	max-width: $max;
	margin: 0 auto;
	padding: 0 remify(10px);
	@include respond-to-min($small){
		padding: 0 remify(20px);
	}
}

.grid {
	@include clearfix;
	margin-left: remify(-10px);
}
.grid__row {
	margin-bottom: $row-divider;
	@include clearfix;
}
.col {
	box-sizing: border-box;
	float: left;
	min-height: remify(1px);
	padding-left: remify(10px);
	width: 100%;
	margin-bottom: 10px;
	@include respond-to-min($med){
		margin-bottom: 0;
	}
}

.col--1\/3--promo-grid ,
.col--2\/3--promo-grid {
	width: 50%;
}

@include respond-to-min($med){
	@include widths(12);
}
