//Styleguide layout and filler styles.

$c-color-pallet-bg: 			lighten($black, 90%);

.styleguide__grid-item {
	height: remify(50px);
	background: $black;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	color: $white;
}

.styleguide__section {
	margin-bottom: remify(40px);
}

.styleguide__section-title {
	margin: remify(30px) 0;
	padding-bottom: remify(10px);
	border-bottom: 1px solid $black;
}

.styleguide__btn-section {
	a {
		margin: remify(10px);
	}
}

.color-list {
	background: $c-color-pallet-bg;
	padding-left: 1%;
}

.color-item {
	display: inline-block;
	padding: remify(10px);
	width: 32%;

	@include respond-to-min($med) {
		width: 24%;
	}

	@include respond-to-min($large) {
		width: 12%;
	}
}

.color-item__color {
	border-radius: remify(3px) remify(3px) 0 0;
	display: block;
	height: remify(60px);
}

.color-item__title {
	background: $white;
	border-radius: 0 0 remify(3px) remify(3px);
	display: block;
	padding: remify(10px) remify(5px);
	width: 100%;
}