<div class="transaction-item">
  <div class="transaction-item__content">
    <p class="transaction-item__name">
      {{ itemData.name }}
    </p>
    <p class="transaction-item__amount">
      &#163;{{ itemData.amount }}
    </p>
    <p class="transaction-item__type">
      {{ itemData.type }}
    </p>
  </div>

  {{#if itemData.hasUpgrade}}
    <button type="button" name="button" data-transaction-item-upgrade="{{itemData.name}}">One up this purchase!</button>
  {{/if}}
</div>
