// Transaction Item styles
.transaction-item {
  padding-bottom: 25%;
  position: relative;
  display: block;
  text-decoration: none;

  @include respond-to-min($bp-large) {
    padding-bottom: 10%;
  }

  &:hover {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 2px;
    background: $c-black;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &::after {
    $d-arrow-width: 3px;

    position: absolute;
    content: '';
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);;
    border: solid $c-black;
    border-width: 0 $d-arrow-width $d-arrow-width 0;
    display: inline-block;
    padding: $d-arrow-width;
  }
}

.transaction-item__content {
  width: 50%;
  margin: 0 auto;
  background-color: $c-brand-2;
  color: $c-white;
  padding: 15% 0;
  border-radius: 50%;
  position: relative;

  @include respond-to-min($bp-med) {
    padding: 7.5% 0;
    width: 27.5%;
  }

  @include respond-to-min($bp-large) {
    width: 20%;
    padding: 6.5% 0;
  }

  .transaction-item--upgrade & {
    background-color: $c-brand-warning;
    cursor: help;
  }

  .transaction-item--credit & {
    background-color: $c-brand-warning;;
  }
}

.transaction-item__content--has-image {
  background-size: cover;
  background-position: 50% 50%;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.35);
    border-radius: 50%;
    overflow: hidden;
  }
}

.transaction-item__content-inner {
  position: relative;
}

.transaction-item__name {
  text-transform: capitalize;
}

.transaction-item__amount {
  font-size: 28px;
}

.transaction-item__type {
  text-transform: capitalize;
}

.transaction-item__upgrade-text {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
  color: $c-black;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
  padding: $d-gutter--half;
  bottom: 30%;
}
