// Transaction Item styles
.transaction-item {
  padding-bottom: 25%;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 2px;
    background: $c-brand-4;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &::after {
    $d-arrow-width: 3px;

    position: absolute;
    content: '';
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);;
    border: solid $c-brand-4;
    border-width: 0 $d-arrow-width $d-arrow-width 0;
    display: inline-block;
    padding: $d-arrow-width;
  }
}

.transaction-item__content {
  width: 35%;
  margin: 0 auto;
  background: $c-white;
  padding: 10% 0;
  border-radius: 50%;
  position: relative;
}
