// Transaction Item styles
.transaction-item {
  padding-bottom: 25%;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: none;

  @include respond-to-min($bp-large) {
    padding-bottom: 10%;
  }

  &:hover {
    text-decoration: none;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 2px;
    background: $c-black;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &::after {
    $d-arrow-width: 3px;

    position: absolute;
    content: '';
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);;
    border: solid $c-black;
    border-width: 0 $d-arrow-width $d-arrow-width 0;
    display: inline-block;
    padding: $d-arrow-width;
  }
}

.transaction-item__content {
  width: 50%;
  margin: 0 auto;
  background: $c-brand-2;
  color: $c-white;
  padding: 15% 0;
  border-radius: 50%;
  position: relative;

  @include respond-to-min($bp-med) {
    padding: 7.5% 0;
    width: 27.5%;
  }

  @include respond-to-min($bp-large) {
    width: 20%;
    padding: 6.5% 0;
  }

  .transaction-item--upgrade & {
    background: $c-brand-6;
    cursor: help;
  }
}

.transaction-item__name {
  text-transform: capitalize;
}

.transaction-item__amount {
  font-size: 28px;
}

.transaction-item__type {
  text-transform: capitalize;
}
