		{{> site-footer/site-footer}}

		<div class="overlay" data-overlay>
			<div class="overlay__content" data-overlay-content></div>
		</div>

		<script type="text/javascript" src="/_client/scripts/main.js"></script>
	</body>
</html>
