//Layout these are 'em' widths based on default font size of 16px;

$bp-small: 				28.750em; //460px;
$bp-med: 					42.500em; //680px;
$bp-large: 				60.000em; //960px;
$bp-max: 					63.750em; //1020px;
